<footer class="m-4 mb-0 shadow-lg backdrop-blur-lg font-medium text-center mt-24">
    <div class="max-w-screen-xl mx-auto p-4 md:py-8 text-white">
        <div class="flex items-center justify-center ">
            <p>Real-time chat enabled communication portal with Node.js, MySQL & Sequelize ORM and
                TailwindCSS. Still in
                development.</p>
        </div>
        <div>
            <hr class="my-6 sm:mx-auto lg:my-8" />
            <div class="flex items-center justify-center">
                <span class="block text-sm sm:text-center">© 2023
                    <a target="_blank" href="https://github.com/alper-demir/communication-portal"
                        class="hover:underline">Commtal™
                    </a>. All Rights Reserved.
                    <a target="_blank" href="https://github.com/alper-demir/communication-portal">
                        <i class="fa-brands fa-github fa-2x hover:opacity-80"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>