<nav class="w-full font-medium bg-transparent text-black dark:text-white">
    <div class="flex items-center justify-between max-lg:justify-around mx-auto flex-nowrap max-w-screen-lg p-4 h-20">
        <div class="text-xl dark:text-white">
            <a href="/">Commtal</a>
        </div>
        <div>
            <ul class="flex">
                <li class="px-2"><a href="/topics">Topics</a></li>
                <li class="px-2"><a href="/topics">Topics</a></li>
                <li class="px-2"><a href="/topics">Topics</a></li>
            </ul>
        </div>
        <% if (typeof isAuth !="undefined" && isAuth) { %>
            <div class="flex items-center justify-center">
                <a href="/auth/logout" class="focus:ring-4 focus:outline-none
                focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 transition-all">
                    Logout
                </a>
                <% if (typeof image !="undefined" ) { %>
                    <img src="../../public/images/<%= image %>" alt=""
                        class=" h-12 w-12  rounded-full ml-3 ring-2 ring-cyan-400 object-cover dark:ring-sky-700">
                    <% } %>
            </div>
            <% } else{ %>
                <div class="flex max-sm:flex-col max-sm:pt-7">
                    <div class="mr-1 max-sm:mt-2">
                        <a href="/auth/login" class="focus:ring-4 focus:outline-none
                    focus:ring-orange-300 rounded-lg text-sm px-4 py-2 text-center transition-all">
                            Sign-in
                        </a>
                    </div>
                    <div class="max-sm:pt-3">
                        <a href="/auth/register" class="focus:ring-4 focus:outline-none
                        focus:ring-orange-300 rounded-lg text-sm px-4 py-2 text-center transition-all">
                            Sign-up
                        </a>
                    </div>
                </div>
                <% }%>


    </div>
</nav>