<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navbar') %>
            <div class="min-h-[85vh]">
                <div class="w-3/5 mx-auto p-[1px] mt-7">
                    <section class="flex justify-between border-2 border-indigo-400 rounded ">
                        <div class="flex items-center">
                            <div class="p-3 text-center min-w-[13rem] max-w-[13rem]">
                                <div class="flex flex-col items-center">
                                    <img src="../../public/images/4.jpg" alt=""
                                        class="object-cover h-12 w-12 rounded-full my-2 ring-2 ring-green-400 max-md:h-12 max-md:w-12">
                                    <span class="text-sm">Alper Demir</span>
                                </div>
                            </div>
                            <div class="font-semibold">
                                <a href="#">Title Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col justify-center pr-8 border-l-2 border-indigo-400 h-full">
                                <div class="flex justify-between">
                                    <div class="px-4">Views:</div>
                                    <div>42</div>
                                </div>
                                <div class="flex justify-between">
                                    <div class="px-4">Messages:</div>
                                    <div>4</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="w-3/5 mx-auto p-[1px] ">
                    <section class="flex justify-between border-2 border-indigo-400 rounded ">
                        <div class="flex items-center">
                            <div class="p-3 text-center min-w-[13rem] max-w-[13rem]">
                                <div class="flex flex-col items-center">
                                    <img src="../../public/images/4.jpg" alt=""
                                        class="object-cover h-12 w-12 rounded-full my-2 ring-2 ring-green-400 max-md:h-12 max-md:w-12">
                                    <span class="text-sm">Alper Demir</span>
                                </div>
                            </div>
                            <div class="font-semibold">
                                <a href="#">Title Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col justify-center pr-8 border-l-2 border-indigo-400 h-full">
                                <div class="flex justify-between">
                                    <div class="px-4">Views:</div>
                                    <div>42</div>
                                </div>
                                <div class="flex justify-between">
                                    <div class="px-4">Messages:</div>
                                    <div>4</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div>
                <%- include('../partials/footer') %>
            </div>
    </body>

</html>